body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.item {
    background-color: blueviolet;
    border: 1px solid black;
    height: 100px;
    width: 35vw;
    margin: 5px;
}

.container2 {
    display: flex;
    margin-top: 50px;
    height: 300px;
    align-items: stretch;
    gap: 2%;
}

.item2 {
    background-color: blue;
    border: 1px solid black;
    width: 18%;
    flex-grow: 1;
    border-radius: 10px;

}

.container3 {
    display: flex;
    margin-top: 25px;
    height: 300px;
    gap: 2%;
}

.item3 {
    background-color:lightblue;
    border: 1px solid black;
    width: 18%;

}

.item31 {
    background-color:lightblue;
    border: 1px solid black;
    width: 18%;
    flex-grow: 2;

}

.container4 {
    display: flex;
    margin-top: 25px;
    height: 400px;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2%;
}

.item4 {
    background-color: lightseagreen;
    border: 1px solid black;
    width: 30%;

}

.container5 {
    display: flex;
    margin-top: 25px;
    height: 600px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
}

.item5 {
    background-color: seagreen;
    border: 1px solid black;
    width: 47.5%;
    border-radius: 10px;
    
}

.item5:nth-child(3n) {
    width: 95%;
    border: 1px solid black;
    background-color: #fff;
}

.container6 {
    display: flex;
    margin-top: 25px;
    height: 600px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    align-items: flex-end;
}

.item61 {
    background-color: paleturquoise;
    border: 1px solid black;
    width: 15%;
    height: 20%;
    border-radius: 15px;
    
}

.item62 {
    background-color: paleturquoise;
    border: 1px solid black;
    width: 15%;
    height: 30%;
    border-radius: 15px;
    
}

.item63 {
    background-color: paleturquoise;
    border: 1px solid black;
    width: 15%;
    height: 65%;
    border-radius: 15px;
}

.item64 {
    background-color: paleturquoise;
    border: 1px solid black;
    width: 15%;
    height: 90%;
    border-radius: 15px;
}
.item65 {
    background-color: paleturquoise;
    border: 1px solid black;
    width: 15%;
    height: 10%;
    border-radius: 15px;
}

.container7 {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    height: 600px;
    gap: 2%;
    align-items: flex-start;
}

.item71 {
    background-color: palevioletred;
    border: 1px solid black;
    width: 35%;
    height: 75px;
    border-radius: 15px;
    
}
.item72 {
    background-color: palevioletred;
    border: 1px solid black;
    width: 75%;
    height: 75px;
    border-radius: 15px;
    
}
.item73 {
    background-color: palevioletred;
    border: 1px solid black;
    width: 20%;
    height: 75px;
    border-radius: 15px;
    
}
.item74 {
    background-color: palevioletred;
    border: 1px solid black;
    width: 10%;
    height: 75px;
    border-radius: 15px;
    
}
.item75 {
    background-color: palevioletred;
    border: 1px solid black;
    width: 65%;
    height: 75px;
    border-radius: 15px;
    
}